<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/spectrum.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/spectrum.js"></script>
    <style>
      .container {
        padding-left: 15px;
        padding-right: 15px;
      }
    </style>
  </head>
  <body>

    <div class="container">
      <div class="page-header">
        <h1>Theme editor</h1>
        <form method="post">
        </div>
        {{range .}}
          <div>
          <input id="_{{.ID}}" type="text">
          {{.Name}} ({{.ID}})
          </div>
        {{end}}
        <button type="submit" class="btn btn-success">Validate</button>
      </form>
    </div>

  <script>
  {{range .}}
  $("#_{{.ID}}").spectrum({color: "rgba({{.Red}},{{.Green}},{{.Blue}},{{.Alpha}})", showAlpha: true, showInput: true});
  {{end}}
  </script>

  </body>
</html>
