<!doctype html>
<html>
  <head>
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/css/leaflet.css" />
    <script src="/js/leaflet.js"></script>
    <style>
      html, body { width: 100%; height: 100%; margin: 0; padding: 0; }
    </style>
  </head>
  <body>
    <div id="map" style="width: 100%; height: 100%"></div>
    <script>
      L.Projection.NoWrap = {
        project: function (latlng) {
          return new L.Point(latlng.lng, latlng.lat);
        },
        unproject: function (point, unbounded) {
          return new L.LatLng(point.y, point.x, true);
        }
      };

      L.CRS.Direct = L.Util.extend({}, L.CRS, {
        code: 'Direct',
        projection: L.Projection.NoWrap,
        transformation: new L.Transformation(1, 0, 1, 0)
      });
      var map = L.map('map', {
        worldCopyJump: false,
        crs: L.CRS.Direct,
        zoom: 1,
        minZoom: 0,
        maxZoom: 5,
        zoomAnimation: false
      }).setView([1, 0], 1);
      L.tileLayer('/tile/{z}/{x}/{y}.png', {
        tileSize: 256,
        continuousWorld: true
      }).addTo(map);

      // Alain
      var alainX = -91 / (32*16);
      var alainZ = 485 / (32*16);

      // Map
      var mapX = -18 / (32*16);
      var mapZ = 559 / (32*16);

      // Jo
      var x = -159 / (32*16);
      var z = 571 / (32*16);
      new L.Marker(new L.LatLng(z, x, true)).addTo(map);
      new L.Marker(new L.LatLng(780 / (32*16), 1964 / (32 * 16), true)).addTo(map);
      new L.Marker(new L.LatLng(mapZ, mapX, true)).addTo(map);
      new L.Marker(new L.LatLng(alainZ, alainX, true)).addTo(map);
    </script>
  </body>
</html>
