<!doctype html>
<html>
  <head>
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <style>
      .container {
        padding-left: 15px;
        padding-right: 15px;
      }
    </style>
  </head>
  <body>

    <div class="container">
      <div class="page-header">
        <h1>Enter your license</h1>
      </div>
      <p>{{.licenseErr}}</p>
      <p>{{.licenseCreated}}</p>
      <p>{{.licenseExpired}}</p>
      <p>{{.licenseFirstName}}</p>
      <p>{{.licenseLastName}}</p>
      <form method="post">
        <textarea name="license" class="form-control" rows="5"></textarea><br />
        <button type="submit" class="btn btn-success">Validate</button>
      </form>
    </div>

  </body>
</html>
